<ul class="pagination">
  {{#if cannotStepBackward}}
    <li class="arrow unavailable">
      <button {{action 'previousPage'}} disabled>&laquo;
      </button>
    </li>
  {{else}}
    <li class="arrow">
      <button {{action 'previousPage'}}>&laquo;
      </button>
    </li> 
  {{/if}}

	{{#each page in pages}}
    {{#if page.isCurrentPage}}
      <li class="current"><a {{action 'goToPage' page}} >{{page.number}}</a></li>
    {{else}}
      <li><a {{action 'goToPage' page}}>{{page.number}}</a></li>
    {{/if}}
  {{/each}}

  {{#if cannotStepForward}}
    <li class="arrow unavailable">
      <button {{action 'nextPage'}} disabled>&raquo;
      </button>
    </li>
  {{else}}
    <li class="arrow">
      <button {{action 'nextPage'}}>&raquo;
      </button>
    </li>
  {{/if}}

</ul>