<ul class="pagination">
  <li class="arrow unavailable"><a href="">&laquo;</a></li>
  <li class="current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable"><a href="">&hellip;</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li class="arrow"><a href="">&raquo;</a></li>
</ul>


<ul class="pagination">
  <li class="arrow unavailable"><a {{action 'previousPage'}} {{bind-attr disabled=canStepBackward}} >&laquo;</a></li>

	{{#each page in pages}}
    {{#if page.isCurrentPage}}
      <li class="current"><a {{action 'goToPage' page.number}} >{{page.number}}</a></li>
    {{else}}
      <li><a {{action 'goToPage' page.number}}>{{page.number}}</a></li>
    {{/if}}
  {{/each}}

  <li class="arrow"><a {{action 'nextPage'}} {{bind-attr disabled=canStepForward}}>&raquo;</a></li>

</ul>